if 32_KEY_CARD_LEFT

config ZMK_KEYBOARD_NAME
    default "card"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if 32_KEY_CARD_LEFT || 32_KEY_CARD_RIGHT

config ZMK_SPLIT
    default y

endif

# if 32_KEY_CARD_RIGHT

# config ZMK_KEYBOARD_NAME
#     default "The Card Right"

# config ZMK_SPLIT_ROLE_CENTRAL
#     default n

# endif
