# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BONNIE_SHIELD_CRADIO_LEFT
	def_bool $(shields_list_contains,bonnie_cradio_left)

config BONNIE_SHIELD_CRADIO_RIGHT
	def_bool $(shields_list_contains,bonnie_cradio_right)
