#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define alpha 0
#define ALPHA 1
#define num   2
#define misc  3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ---------------------------------------------------------------------------------------------------------------------------
// |    ,    |    .    |    P    |    Y    |    F    |                     |    G    |    C    |    R    |    L    |    /    |
// |    A    |    O    |    E    |    U    |    I    |                     |    D    |    H    |    T    |    N    |    S    |
// |    :    |    Q    |    J    |    K    |    X    | SPACE |   |  SPACE  |    B    |    M    |    W    |    V    |    Z    |
            bindings = <
    &kp COMMA    &kp DOT    &kp P    &kp Y    &kp F                          &kp G     &kp C     &kp R     &kp L     &kp BLSH 
    &kp A        &kp O      &kp E    &kp U    &kp I                          &kp D     &kp H     &kp T     &kp N     &kp S
    &kp SEMI     &kp Q      &kp J    &kp K    &kp X   &kp SPACE  &kp SPACE   &kp B     &kp M     &kp W     &kp V     &kp Z
            >;
        };
    };
};
